{% load static %}

<html>
    <head>

        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://your-site-or-cdn.com/fontawesome/v5.15.4/js/all.js" data-auto-a11y="true" ></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo.css' %}">

        {% if title %}
            <title>KAMAND-BASKET - {{ title }}</title>
        {% else %}
            <title>KAMAND BASKET</title>
        {% endif %}
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.css' %}">

          {% endblock stylesheets %}

          {% block customStylesheets %}{% endblock customStylesheets %}

          <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
          <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
          <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
          <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          {% block ajaxBlock %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
          <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
          {% endblock ajaxBlock %}

          <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
          <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    </head>
      {% block mainBlock %}
    <body>

          <!-- Page Wrapper -->
          <div id="wrapper">

              <!-- Sidebar -->
              <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                  <!-- Sidebar - Brand -->
                  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                      <div class="sidebar-brand-icon rotate-n-15">
<!--                          <i class="fas fa-laugh-wink"></i>-->
                      </div>
                      <div class="sidebar-brand-text mx-3">KAMAND-BASKET</div>
                  </a>

                  <!-- Divider -->
                  <hr class="sidebar-divider my-0">

                  <!-- Nav Item - Dashboard -->
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'landing-page' %}">
                          <!-- <i class="fas fa-fw fa-tachometer-alt" style="color: white"></i> -->
                          <i class="fa fa-home"></i>
                          <span>HOME</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' %}">
                          <i class="fa fa-user"></i>
                          <span>Profile</span></a>
                  </li>

                  <!-- Divider -->
                  <hr class="sidebar-divider">

                  <!-- Heading -->
                  <div class="sidebar-heading">
                      Interface
                  </div>

                  <!-- Nav Item - Pages Collapse Menu -->
                  <li class="nav-item">
                      <a class="nav-link" href={% url 'dashboard' %}>
                          <i class="fas fa-fw fa-tachometer-alt" style="color: white"></i>
                          <span>Dashboard</span></a>
                  </li>

                  <!-- Nav Item - Utilities Collapse Menu -->

                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'discussion_forum' %}">
                          <i class="fa fa-comment" style="color:white;"></i>
                          <span>Discussion Forum</span></a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href={% url 'todo' %}>
                        <i class="fa fa-ruler-triangle" style="color:white;"></i>
                          <span>Planning Area</span></a>
                  </li>

                  <!-- Divider -->



                  <!-- Divider -->
                  <hr class="sidebar-divider d-none d-md-block">

                  <!-- Sidebar Toggler (Sidebar) -->


              </ul>
              <!-- End of Sidebar -->

              <!-- Content Wrapper -->
              <div id="content-wrapper" class="d-flex flex-column">

                  <!-- Main Content -->
                  <div id="content">

                      <!-- Topbar -->
                      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                          <!-- Sidebar Toggle (Topbar) -->
                          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                              <i class="fa fa-bars"></i>
                          </button>
  <img src="{% static 'home/assets/img/hero-img.png' %}" style="width:90px;height:90px;" alt="My image">

                          <!-- Topbar Navbar -->
                          <ul class="navbar-nav ml-auto">




                              <div class="topbar-divider d-none d-sm-block"></div>

                              <!-- Nav Item - User Information -->
                              <li class="nav-item dropdown no-arrow">
                                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                                      <img class="img-profile rounded-circle"
                                          src={{ user.profile.image.url }}>
                                  </a>
                                  <!-- Dropdown - User Information -->
                                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                      aria-labelledby="userDropdown">
                                      <a class="dropdown-item" href="#">
                                          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                          Profile
                                      </a>
                                      <a class="dropdown-item" href="#">
                                          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                          Settings
                                      </a>
                                      <a class="dropdown-item" href="#">
                                          <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                          Activity Log
                                      </a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                          Logout
                                      </a>
                                  </div>
                              </li>

                          </ul>

                      </nav>
                      <!-- End of Topbar -->

                      <!-- Begin Page Content -->
                      <div class="container-fluid">

                          <!-- Page Heading -->
                          {% block b %}{% endblock%}

                      </div>
                      <!-- /.container-fluid -->

                  </div>
                  <!-- End of Main Content -->

                  <!-- Footer -->
                  <footer class="sticky-footer bg-white">
                      <div class="container my-auto">
                          <div class="copyright text-center my-auto">
                              <span>Copyright &copy; DEBUG-DREAMS 2022</span>
                          </div>
                      </div>
                  </footer>
                  <!-- End of Footer -->

              </div>
              <!-- End of Content Wrapper -->

          </div>
          <!-- End of Page Wrapper -->

          <!-- Scroll to Top Button-->
          <a class="scroll-to-top rounded" href="#page-top">
              <i class="fas fa-angle-up"></i>
          </a>

          <!-- Logout Modal-->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                          </button>
                      </div>
                      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                      <div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <a class="btn btn-primary" href="login.html">Logout</a>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Bootstrap core JavaScript-->
          <script src="vendor/jquery/jquery.min.js"></script>
          <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

          <!-- Core plugin JavaScript-->
          <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

          <!-- Custom scripts for all pages-->
          <script src="js/sb-admin-2.min.js"></script>
<!-- ============================================================================ -->
        <!-- <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
              <a class="navbar-brand mr-4" href="{% url 'landing-page' %}">Django Blog</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="{% url 'landing-page' %}">Home</a>
                  <a class="nav-item nav-link" href="{% url 'about-page' %}">About</a>
                </div>

                <div class="navbar-nav">

                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
                </div>
              </div>
            </div>
          </nav>

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ messages.tags }}"></div>
          {% endfor %}
        {% endif %} -->
<!-- ===================================================================== -->
       {% block content %} {% endblock %}

       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
    {% endblock mainBlock %}
      {% block extraBlock %}{% endblock extraBlock %}
      {% block customScripts %}{% endblock customScripts %}
</html>
